twitter-tools-core/.classpath
twitter-tools-core/.project
twitter-tools-core/target/
twitter-tools-rm3/.classpath
twitter-tools-rm3/.project
twitter-tools-rm3/target/
twitter-tools-ttgbaseline/.classpath
twitter-tools-ttgbaseline/.project
twitter-tools-ttgbaseline/.settings/
twitter-tools-ttgbaseline/target/
twitter-tools-ttgbaseline/output.txt
twitter-tools-hadoop/.classpath
twitter-tools-hadoop/.project
twitter-tools-hadoop/target/
etc/run.sh
etc/trec_eval.9.0/
etc/trec_eval
data/qrels.microblog2011.txt
data/qrels.microblog2012.txt
data/qrels.microblog2013.txt
data/qrels.microblog2014.txt
data/queries.trec2005efficiency.txt
*~
.DS_Store
*.pyc
